<form autocomplete="off" [formGroup]="formularioLog" >
  
    <div style="font-size: 14px;  align-items: center; " class="row" >

        <!-- campo email -->
        <mat-form-field class="col">
            <mat-label>Email</mat-label>
            <input matInput 
                    type="text"
                    formControlName="email">
        </mat-form-field>

        <!-- campo pass -->
        <mat-form-field class="col">
            <mat-label>Constraseña</mat-label>
            <input matInput 
                    [type]="'password'" 
                    type="text"
                    formControlName="password">
        </mat-form-field>

        <button mat-button class="col" style="height: 2em;text-align: center; margin-right: 15px;">Login</button>

    </div>
    
</form>