<mat-card class="example-card " style="width: 20em;">
    <mat-card-header>
      <mat-card-title>Registrate con nosotros</mat-card-title>
      
    </mat-card-header>
    <mat-card-content>
      <!-- formulario -->
        <form autocomplete="off" 
              [formGroup]="formularioSing" 
              (ngSubmit)="singin()">

            <!-- campo name -->

            <div class="row">
                <div class="col">

                    <mat-form-field class="col-12">
                        <mat-label>Nombre</mat-label>
                        <input matInput 
                                type="text"
                                formControlName="name">
                    </mat-form-field>
                
                    <!-- campo email -->
                    <mat-form-field class="col-12">
                        <mat-label>Email</mat-label>
                        <input matInput 
                                type="text"
                                formControlName="email">
                    </mat-form-field>
            
                    <!-- campo pass -->
                    <mat-form-field class="col-12">
                        <mat-label>Constraseña</mat-label>
                        <input matInput 
                                [type]="'password'" 
                                type="text"
                                formControlName="password">
                    </mat-form-field>

                    <!-- campo pass2 -->
                    <mat-form-field class="col-12">
                        <mat-label>Confirmar constraseña</mat-label>
                        <input matInput 
                                [type]="'password'" 
                                type="text"
                                formControlName="password2">
                    </mat-form-field>
        
                    <!-- campo phone -->
                    <mat-form-field class="col-12">
                        <mat-label>Telefono</mat-label>
                        <input matInput 
                                type="text"
                                formControlName="phone">
                                <!-- posible fallo class="form-control" -->
                    </mat-form-field>
                </div>
            </div>
            <button mat-button type="submit" [disabled]="formularioSing.invalid">Enviar</button>
        </form>

    </mat-card-content>
  </mat-card>
  