
<div class="d-flex">
    <mat-card class="example-card me-2" style="width: 30em;">
        <mat-card-header>
        <mat-card-title>Selecciona jugadores</mat-card-title>
        
        </mat-card-header>
        <mat-card-content>
        <!-- contenido -->
            
        <mat-selection-list #usuarios>
            <mat-list-option *ngFor="let usuario of listaUsuarios;"
                            (selectedChange)="guardarJugador( usuario )">
              {{usuario.name}}
            </mat-list-option>
        </mat-selection-list>
          
        <p>
            Usuarios seleccionados: {{usuarios.selectedOptions.selected.length}}
        </p>

        </mat-card-content>
        <mat-card-actions>
            <button mat-button
                    routerLink="/game/timer"
                    (click)="crearLista(listaJugadores)">
                iniciar partida
            </button>
        </mat-card-actions>
    </mat-card>
    
    <mat-card class="example-card" style="width: 30em;">
        <mat-card-header>
        <mat-card-title>Jugadores seleccionados</mat-card-title>
        
        </mat-card-header>
        <mat-card-content>
        <!-- contenido -->
        <mat-list #Jugadores>
            <mat-list-item *ngFor="let jugador of listaJugadores;">
              {{jugador.name}}
            </mat-list-item>
        </mat-list>

        </mat-card-content>
        <mat-card-actions>
            
        </mat-card-actions>
</mat-card>
</div>