<mat-card class="example-card me-2" style="width: 15em;">
    
    <mat-card-content>
        
       
    <div class="timer">
        <h1><span id="minutes"> {{minutesToDday}} : {{secondsToDday}} </span></h1>
        <h1><span id="seconds"> {{secondsToDday}} S</span></h1>
        <!-- <span id="milisec"> {{dDay | date:'dd.MM.yyyy &nbsp; HH:mm:ss.SSS'}} </span> -->
        
    </div>

    </mat-card-content>
    
</mat-card>

<div class="mt-3">
    <mat-card>
        <app-game></app-game>
    </mat-card>
</div>
